Jupyter Notebook

.ipynb_checkpoints/
*.ipynb_checkpoints



Python cache

__pycache__/
.pyc
.pyo
.pyd



Virtual environment

.venv/
.env/



Data files

.csv
.zip
.tar
.gz



Logs

.log



OS-specific files

.DS_Store
Thumbs.db
